# Conexão da API
DB_HOST=postgres
DB_PORT=5432
DB_NAME=reservas_db
DB_USER=usuario_dev
DB_PASSWORD=senha_dev

# Configuração do PostgreSQL
POSTGRES_DB=reservas_db
POSTGRES_USER=usuario_dev
POSTGRES_PASSWORD=senha_dev